.App {
  text-align: center;
}
#header{
  background-color: blueviolet;
}
.search-transaction {
  width: 100%;
  padding: 5px;
}
.box{
  display: flex;
  margin-left: 5px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
  margin-right: 5px;
}
#transaction-date-input{
  height: 30px;
}
.transaction-information{
  width: 200px;
  margin: 10px;
  height: 30px;
  text-align: center;
}
.button{
  margin: 10px;
}